.right-sec {  
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.container {
  place-self: center;
  width: 50%;
  height: 50%;
  transform: translate(0, 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;  
}

.container div {
  display: flex;
  justify-content: center;
}

.remove-bg {
  width: 90%;
}

.pocket-notes-R {
  width: 60%;
}

.message {
  width: 80%;
}

.etee {
  display: flex;
  place-self: center;
  margin-bottom: 1%; 
  align-items: center;
  justify-content: center; 
  gap: 1%;
}

.etee img {
  width: 70%;
}
